<!DOCTYPE html>
<html>
<head>
  <title>KippApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<div class="header">
<%= link_to image_tag('logo.png'), root_path %>
</div>
<%= image_tag('mainPhoto.jpg', class: 'hero')%>
<ul id="mainMenu">
	<%= link_to("<li><i class='fa fa-commenting'></i> Elevator Pitch</li>".html_safe, controller:"ElevatorPitch", action:"index") %>
	<%= link_to("<li><i class='fa fa-book'></i> Basic Info</li>".html_safe, controller:"BasicInfo",action:"index") %>
	<%= link_to("<li><i class='fa fa-calendar'></i> Calendar</li>".html_safe, controller:"Calendar",action:"index") %>
	<%= link_to("<li><i class='fa fa-money'></i> Donor Info</li>".html_safe, controller:"FundrasingInfo",action:"index") %>
	<%= link_to("<li><i class='fa fa-video-camera'></i> Marketing</li>".html_safe, controller:"Marketing",action:"index") %>

</ul>

</body>
</html>
