<!DOCTYPE html>
<html>
<head>
  <title>KippApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'elevator_pitch', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<div class="header">
<%= link_to image_tag('logo.png'), root_path %>
</div>
<div class="pitch">
<h1 class= "title">
	Elevator Pitch
</h1>
<div class="mission">
<h3>
KIPP Mission
</h3>
<p>
The mission of KIPP Bay Area Schools is to operate high-achieving public schools in educationally underserved communities, developing in our students the knowledge, skills and character essential to thrive in college, shape their futures, and positively impact the world.
</p>
<p>
There are currently 11 KIPP schools in the Bay Area: 1 elementary school, 7 middle schools, and 3 high schools. In these schools, over 3,800 students are being prepared for success in college and the competitive world beyond. These tuition-free, college-preparatory schools are located in the underserved neighborhoods of Oakland, San Francisco, San Lorenzo, San Jose, and Redwood City.
</p>
<p>
In these schools, over 3,800 students are being prepared for success in college and the competitive world beyond. These tuition-free, college-preparatory schools are located in the underserved neighborhoods of Oakland, San Francisco, San Lorenzo, San Jose, and Redwood City.
</p>
</div>
<h3>
	Unifying Beliefs
</h3>
<p>
	We believe demography does not define destiny.
</p>
<p>
	We believe with high expectations and no excuses, all students will successfully climb the mountain to college.
</p>
<p>
	We believe closing the achievement gap begins with this generation of KIPP Bay Area Schools students.
</p>
<p>
	We believe, together, we are revolutionizing public education in the Bay Area.
</p>
</div>
</body>
</html>
