<!DOCTYPE html>
<html>
<head>
  <title>KippApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'basic_info', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<div class="header">
<%= link_to image_tag('logo.png'), root_path %>
</div>
<%= image_tag('info.png', class: 'info')%>
<%= image_tag('Matriculation.png')%>
<%= image_tag('graduation.png')%>
<%= image_tag('persistance.png')%>
<p class ="blank"></p>
<%= image_tag('2010.png')%>
<p class ="blank"></p>
<%= image_tag('2011.png')%>
<p class ="blank"></p>
<%= image_tag('persistpercent.png')%>
<p class ="blank"></p>
<%= image_tag('topBands.png')%>


<p class ="blank">blank</p>
<p class ="blank">blank</p>
</body>
</html>
	