<!DOCTYPE html>
<html>
<head>
  <title>KippApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'contact', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="header">

<%= link_to image_tag('logo.png'), root_path %>

</div>
<h3>Contacts</h3>

<h4>Board</h4>

<% @contacts.each do |contact| %>
  <div class = "Person">
    <p class = "name"><%= contact.first_name %> <%= contact.last_name %></p>
    <p><%= contact.title %></p>
    <p><%= contact.company %></p>
    <p><%= contact.address_1 %> <%= contact.city %> <%= contact.state %> <%= contact.zip %></p>
    <p><%= contact.address_2 %></p>
    <p><%= contact.home_phone %></p>
    <p><%= contact.office_phone %></p>
    <p><%= contact.cell_phone %></p>
    <p><%= contact.fax %></p>
    <p><%= contact.email %></p>
    <p><%= contact.assistant %></p>
    <p><%= contact.assistant_email %></p>
  </div>
<% end%>

</body>
</html>
